/*
* Created 2019  Carson Black <uhhadd@gmail.com>
* 
* This is free and unencumbered software released into the public domain.
* 
* Anyone is free to copy, modify, publish, use, compile, sell, or
* distribute this software, either in source code form or as a compiled
* binary, for any purpose, commercial or non-commercial, and by any
* means.
* 
* In jurisdictions that recognize copyright laws, the author or authors
* of this software dedicate any and all copyright interest in the
* software to the public domain. We make this dedication for the benefit
* of the public at large and to the detriment of our heirs and
* successors. We intend this dedication to be an overt act of
* relinquishment in perpetuity of all present and future rights to this
* software under copyright law.
* 
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
* IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
* OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
* ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
* 
* For more information, please refer to <http://unlicense.org>
*/

@define-color colorPrimary rgb(151, 163, 255);
@define-color textColorPrimary #FFFFFF;
/* @define-color textColorPrimaryShadow {{ headerbar-text-shadow-color }}; */
@define-color colorAccent #1617A1;

.titlebar {
    color: white;
    border: 0;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}
.titlebar .title {
    color: white;
    text-shadow: 2px 2px 9px #000000;
}
.pongo {
    border: 0;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}
list row {
	font-size: 14pt;
	padding: 10px;
}
hdyleaflet stack {
    box-shadow: none;
}
hdyleaflet.folded stack {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}
.h1 {
    font-size: 100px;
    font-weight: 300;
}
.h2 {
    font-size: 24px;
    font-weight: 400;
}
/* hdyleaflet stacksidebar scrolledwindow {
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://com/github/Appadeia/ilopona/images/ilo pona sitelen.svg");
}
stacksidebar row {
    background-color: transparent;
}
hdyleaflet:not(.folded) stacksidebar.sidebar {
    border-right: 5px solid rgba(47,47,47,0.5);
}
stacksidebar.sidebar {
	background-color: rgba(57,57,57,0.5);
}
stacksidebar.sidebar list {
	background-color: transparent;
}
stacksidebar.sidebar list row:hover {
	background-color: rgba(67,67,67, 0.5);
} */

.a {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/a.svg");
}

.akesi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/akesi.svg");
}

.ala {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ala.svg");
}

.ali {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ale.svg");
}

.anpa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/anpa.svg");
}

.ante {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ante.svg");
}

.anu {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/anu.svg");
}

.awen {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/awen.svg");
}

.e {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/e.svg");
}

.en {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/en.svg");
}

.ijo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ijo.svg");
}

.ike {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ike.svg");
}

.ilo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ilo.svg");
}

.insa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/insa.svg");
}

.jaki {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/jaki.svg");
}

.jan {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/jan.svg");
}

.jelo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/jelo.svg");
}

.jo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/jo.svg");
}

.kala {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kala.svg");
}

.kalama {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kalama.svg");
}

.kama {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kama.svg");
}

.kasi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kasi.svg");
}

.ken {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ken.svg");
}

.kepeken {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kepeken.svg");
}

.kili {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kili.svg");
}

.kin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kin.svg");
}

.kiwen {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kiwen.svg");
}

.ko {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ko.svg");
}

.kon {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kon.svg");
}

.kule {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kule.svg");
}

.kulupu {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kulupu.svg");
}

.kute {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/kute.svg");
}

.la {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/la.svg");
}

.lape {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lape.svg");
}

.laso {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/laso.svg");
}

.lawa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lawa.svg");
}

.len {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/len.svg");
}

.lete {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lete.svg");
}

.li {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/li.svg");
}

.lili {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lili.svg");
}

.linja {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/linja.svg");
}

.lipu {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lipu.svg");
}

.loje {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/loje.svg");
}

.lon {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lon.svg");
}

.luka {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/luka.svg");
}

.lukin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lukin.svg");
}

.lupa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/lupa.svg");
}

.ma {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ma.svg");
}

.mama {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mama.svg");
}

.mani {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mani.svg");
}

.meli {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/meli.svg");
}

.mi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mi.svg");
}

.mije {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mije.svg");
}

.moku {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/moku.svg");
}

.moli {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/moli.svg");
}

.monsi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/monsi.svg");
}

.mu {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mu.svg");
}

.mun {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mun.svg");
}

.musi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/musi.svg");
}

.mute {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/mute.svg");
}

.nanpa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/nanpa.svg");
}

.nasa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/nasa.svg");
}

.nasin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/nasin.svg");
}

.nena {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/nena.svg");
}

.ni {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ni.svg");
}

.nimi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/nimi.svg");
}

.noka {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/noka.svg");
}

.o {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/o.svg");
}

.oko {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/oko.svg");
}

.olin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/olin.svg");
}

.ona {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/ona.svg");
}

.open {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/open.svg");
}

.pakala {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pakala.svg");
}

.pali {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pali.svg");
}

.palisa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/palisa.svg");
}

.pana {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pana.svg");
}

.pi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pi.svg");
}

.pilin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pilin.svg");
}

.pimeja {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pimeja.svg");
}

.pini {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pini.svg");
}

.pipi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pipi.svg");
}

.poka {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/poka.svg");
}

.poki {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/poki.svg");
}

.pona {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/pona.svg");
}

.sama {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sama.svg");
}

.seli {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/seli.svg");
}

.selo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/selo.svg");
}

.seme {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/seme.svg");
}

.sewi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sewi.svg");
}

.sijelo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sijelo.svg");
}

.sike {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sike.svg");
}

.sin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sin.svg");
}

.sina {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sina.svg");
}

.sinpin {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sinpin.svg");
}

.sitelen {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sitelen.svg");
}

.sona {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/sona.svg");
}

.soweli {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/soweli.svg");
}

.suli {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/suli.svg");
}

.suno {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/suno.svg");
}

.supa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/supa.svg");
}

.suwi {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/suwi.svg");
}

.tan {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/tan.svg");
}

.taso {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/taso.svg");
}

.tawa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/tawa.svg");
}

.telo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/telo.svg");
}

.tenpo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/tenpo.svg");
}

.toki {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/toki.svg");
}

.tomo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/tomo.svg");
}

.tu {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/tu.svg");
}

.unpa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/unpa.svg");
}

.uta {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/uta.svg");
}

.utala {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/utala.svg");
}

.walo {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/walo.svg");
}

.wan {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/wan.svg");
}

.waso {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/waso.svg");
}

.wawa {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/wawa.svg");
}

.weka {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/weka.svg");
}

.wile {
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://sitelen/images/sitelen/wile.svg");
}

