/*
* Created 2019  Carson Black <uhhadd@gmail.com>
* 
* This is free and unencumbered software released into the public domain.
* 
* Anyone is free to copy, modify, publish, use, compile, sell, or
* distribute this software, either in source code form or as a compiled
* binary, for any purpose, commercial or non-commercial, and by any
* means.
* 
* In jurisdictions that recognize copyright laws, the author or authors
* of this software dedicate any and all copyright interest in the
* software to the public domain. We make this dedication for the benefit
* of the public at large and to the detriment of our heirs and
* successors. We intend this dedication to be an overt act of
* relinquishment in perpetuity of all present and future rights to this
* software under copyright law.
* 
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
* IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
* OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
* ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
* 
* For more information, please refer to <http://unlicense.org>
*/

@define-color colorPrimary rgb(151, 163, 255);
@define-color textColorPrimary #FFFFFF;
/* @define-color textColorPrimaryShadow {{ headerbar-text-shadow-color }}; */
@define-color colorAccent #1617A1;

.titlebar {
    color: white;
    border: 0;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}
.titlebar .title {
    color: white;
    text-shadow: 2px 2px 9px #000000;
}
.pongo {
    border: 0;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}
list row {
	font-size: 14pt;
	padding: 10px;
}
hdyleaflet stack {
    box-shadow: none;
}
hdyleaflet.folded stack {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}
.h1 {
    font-size: 100px;
    font-weight: 300;
}
.h2 {
    font-size: 24px;
    font-weight: 400;
}
hdyleaflet stacksidebar scrolledwindow {
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("resource://com/github/Appadeia/ilopona/images/ilo pona sitelen.svg");
}
stacksidebar row {
    background-color: transparent;
}
hdyleaflet:not(.folded) stacksidebar.sidebar {
    border-right: 5px solid rgba(47,47,47,0.5);
}
stacksidebar.sidebar {
	background-color: rgba(57,57,57,0.5);
}
stacksidebar.sidebar list {
	background-color: transparent;
}
stacksidebar.sidebar list row:hover {
	background-color: rgba(67,67,67, 0.5);
}
